{% extends 'base.html.twig' %}

{% block body %}
    {% for type, messages in app.flashes() %}
        <div class="alert">
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
    {% endfor %}

    <div class="optionsBar">
        <input id="searchInput" class="searchInput" type="search" placeholder="Search for offers"></input><br>
        <button class="addButton"><a href="/add-offer">Add new offer</a></button>
        <button class="addButton"><a href="/add-organization">Register your organization! It's free!</a></button>
    </div>
    

    <section class="offers">
        {% for offer in arrayOffers %}
            <div class="cardOffer">
                <h2>{{offer.title}}</h2>
                <div class="organizationName">{{offer.getIdOrganization().getName()}}|{{offer.createdAt|ago}}</div>
                <p class="description">{{offer.description}}</p>
                <div class="options">
                    {% if offer.initDate is not null %}
                        <p class="date">Init date: {{offer.initDate | date("Y-m-d")}}</p>
                    {% else %}
                        <p class="date">Init date: Unavailable</p>
                    {% endif %}
                    {% if offer.finishDate is not null %}
                        <p class="date">Finish date: {{offer.finishDate | date("Y-m-d")}}</p>
                    {% else %}
                        <p class="date">Finish date: Unavailable</p>
                    {% endif %}
                    <p>Vacancies: {{offer.vacancy ?? "Unavailable"}}</p>
                </div>
                <form action="{{ path('send_flash_apply') }}" method="post">
                    <a href="/"><button class="applyButton">APPLY NOW</button></a>
                </form>
                
            </div>
        {% endfor %}
    </section>

{% endblock %}